{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gen AI Demo</title>
    <link rel="icon" type="image/x-icon" href="{% static 'demo/img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static '/demo/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/demo/css/style.css' %}">

    <!-- javascript -->
    <script type="text/javascript">
        window.CSRF_TOKEN = "{{ csrf_token }}";
        window.fileList = {{ file_list|safe }};
    </script>
    <script src="{% static '/demo/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static '/demo/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/demo/js/showdown.min.js' %}"></script>
    <script src="{% static '/demo/js/script.js' %}" ></script>
</head>
<body class="mw-100 mx-auto user-select-none bg-light">
    <div>
        <div id="header" class="container-fluid p-4 text-center">
            <h1>📄 Gen AI Demo</h1>
        </div>
        <div id="body" class="py-3 m-auto d-flex flex-row justify-content-center flex-wrap">
            <div id="QuestionContainer" class="d-flex flex-column m-3">
                <div class="my-3">
                    <fieldset id="UploadFieldset">
                        <h4>1. 해석할 파일을 선택해주세요:</h4>
                        <label for="analyzeFile" class="btn btn-dark text-white">파일 업로드</label><span id="fileName" class="mx-3">최대 32MB</span>
                        <input id="analyzeFile" type="file" name="attachment" hidden accept="">
                        <div class="form-check form-switch my-3">
                            <input id="uploadYn" class="form-check-input" type="checkbox" name="uploadYn" value="Y">
                            <label for="uploadYn" class="form-check-label">파일을 클라우드에 저장</label>
                        </div>
                    </fieldset>
                    <p><strong>OR</strong></p>
                    <div class="d-flex align-items-center gap-3 flex-wrap">
                        <button class="btn btn-light border-dark" data-bs-toggle="modal" data-bs-target="#CloudModal">클라우드에서 파일 선택</button><ul class="list-group"><li id="fileSelectedName" class="d-flex align-items-center list-group-item list-group-item-light">(선택된 파일이 없습니다.)</li></ul>
                    </div>
                </div>
                <div class="my-3">
                    <h4>2. 질문을 선택해주세요:</h4>
                    <ul class="list-group my-2">
                        <li class="container-fluid list-group-item question">주어진 문서의 출연진 및 캐릭터를 이름, 성별, 나이, 역할별로 자세하게 설명해줘.</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 전반적인 줄거리를 자세하게 설명해줘.</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 주요 에피소드를 챕터별로 자세하게 설명해줘.</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 주요 에피소드를 캐릭터별로 자세하게 설명해줘.</li>
                        <li class="container-fluid list-group-item question custom"><label for="customQuestion">질문 직접 입력</label></li>
                    </ul>
                    <textarea id="customQuestion" class="form-control my-2" type="text" placeholder="여기에 질문을 자유롭게 입력해주세요." disabled></textarea>
                    <button data-bs-target="#OptionsModal" data-bs-toggle="modal" class="btn btn-dark">추가 옵션</button>
                    <button id="btnSubmit" class="btn btn-primary">해석하기</button><span id="LoadingText" class="mx-2" style="display: none;"><img alt="" id="LoadingIcon" class="mx-2" src="{% static 'demo/img/loading.gif' %}">해석 중...</span>
                </div>
            </div>
            <div id="ResponseContainer" class="d-flex flex-column m-3">
                <h4>3. 답변 결과:</h4>
                <div id="ResultContainer" class="container-fluid border p-2 my-2 bg-white">
                    Here is where a sample response will be displayed.
                </div>
            </div>
        </div>
    </div>


    <!-- Cloud Modal -->
    <div id="CloudModal" class="modal fade">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">클라우드에서 파일 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>파일을 선택해주세요: </p>
                    <ul id="fileListContainer" class="list-group fileList h-100 overflow-auto">
                        <li class="list-group-item list-group-item-light">(클라우드에 저장된 파일이 없습니다)</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Other Options Modal -->
    <div id="OptionsModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">추가 옵션</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="temperature" class="form-label">Temperature: <output id="temperatureVal"></output></label>
                    <input type="range" class="form-range" id="temperature" min="0" max="2" step="0.1" value="0">
                    <label for="topP" class="form-label">TopP: <output id="topPVal"></output></label>
                    <input type="range" class="form-range" id="topP" min="0" max="1" step="0.01" value="0.95">
                    <label for="presencePenalty" class="form-label">Presence Penalty: <output id="presencePenaltyVal"></output></label>
                    <input type="range" class="form-range" id="presencePenalty" min="-2" max="2" step="0.1" value="0.4">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-dark" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>