{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gen AI Demo</title>
    <link rel="icon" type="image/x-icon" href="{% static 'demo/img/favicon.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static '/demo/css/bootstrap.min.css' %}">
    <script src="{% static '/demo/js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static '/demo/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/demo/js/showdown.min.js' %}"></script>
</head>
<style>
    #QuestionContainer, #ResponseContainer {
        width: 40rem;
    }

    #loadingIcon {
        width: 2rem;
    }
    #loadingText, #resultContainer {
        font-family: "Lucida Console", monospace;
    }
    #resultContainer {
        height: 30rem;
        overflow: auto;
        user-select: text;
    }
    .fileList {
        max-width: 30rem;
    }
</style>
<body class="mw-100 mx-auto user-select-none bg-light">
    <div>
        <div id="header" class="container-fluid p-4 text-center">
            <h1>Gen AI Demo</h1>
        </div>
        <div id="body" class="py-3 m-auto d-flex flex-row justify-content-center flex-wrap">
            <div id="QuestionContainer" class="d-flex flex-column m-3">
                <div class="my-3">
                    <fieldset id="uploadFieldset">
                        <p>1. 해석할 파일을 업로드해주세요:</p>
                        <label for="analyzeFile" class="btn btn-dark text-white">파일 업로드</label><span id="fileName" class="mx-3">최대 32MB</span>
                        <input id="analyzeFile" type="file" name="attachment" hidden accept="">
                        <div class="form-check form-switch my-3">
                            <input id="uploadYn" class="form-check-input" type="checkbox" name="uploadYn" value="Y">
                            <label for="uploadYn" class="form-check-label">파일을 클라우드에 저장</label>
                        </div>
                    </fieldset>
                    <p><strong>OR</strong> 클라우드에서 파일 선택:</p>
                    <ul id="fileListContainer" class="list-group fileList h-100 overflow-auto">
                        <li class="list-group-item list-group-item-light">(클라우드에 저장된 파일이 없습니다)</li>
                    </ul>
                </div>
                <div class="my-3">
                    <p>2. 질문을 선택해주세요:</p>
                    <ul class="list-group my-2">
                        <li class="container-fluid list-group-item question">주어진 문서의 출연진 및 캐릭터를 이름, 성별, 나이, 역할별로 설명해줘</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 전반적인 줄거리를 설명해줘</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 주요 에피소드를 챕터별로 설명해줘</li>
                        <li class="container-fluid list-group-item question">주어진 문서의 주요 에피소드를 캐릭터별로 설명해줘</li>
                        <li class="container-fluid list-group-item question custom"><label for="customQuestion">질문 직접 입력</label></li>
                    </ul>
                    <textarea id="customQuestion" class="form-control my-2" type="text" placeholder="여기에 질문을 자유롭게 입력해주세요." disabled></textarea>
                    <button id="btnSubmit" class="btn btn-primary">해석하기</button><span id="loadingText" style="display: none;"><img alt="" id="loadingIcon" class="mx-2" src="{% static 'demo/img/loading.gif' %}">해석 중...</span>
                </div>
            </div>
            <div id="ResponseContainer" class="d-flex flex-column m-3">
                <p>3. 답변 결과:</p>
                <div id="resultContainer" class="container-fluid border p-2 my-2 bg-white">
                    Here is where a sample response will be displayed.
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";

    //로딩 중인지 확인
    let loading = false;

    const fileTypes = ["text/plain", "application/rtf", "text/markdown", "text/html", "application/xml", "text/csv", "application/json", "application/pdf", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/vnd.oasis.opendocument.text"];

    $(document).ready(function() {
        let accept = "";
        fileTypes.forEach(type => accept += type + ", ");
        $("#analyzeFile").attr("accept", accept);

        let fileList = {{ file_list|safe }};
        console.log(fileList);
        updateFileList(fileList)
    })

    //파일명, 크기 표시
    $("#analyzeFile").on("change", function(e) {
        let fileName = "";
        if(e.target.files[0]) {
            if(fileTypes.indexOf(e.target.files[0].type) < 0) {
                alert("해석 불가능한 파일 형식입니다.");
                return false;
            }

            let fileSize = getFileSize(e.target.files[0]);
            fileName = e.target.files[0].name + " (" + fileSize + ")";
        }

        $("#fileName").text(fileName);
        return true;
    });

    //선택된 파일 활성화/비활성화
    $(document).on("click", ".fileName", function() {
        let active = $(this).hasClass("active");
        $(".fileName").removeClass("active");
        if(!active) {
            $(this).addClass("active");
        }
        if($(".fileName.active").text()) {
            $("#uploadFieldset").prop("disabled", true);
        } else {
            $("#uploadFieldset").prop("disabled", false);
        }
    });

    //선택된 질문 활성화/비활성화
    $(".question").on("click", function() {
        let active = $(this).hasClass("active");

        $(".question").removeClass("active");

        if(!active) $(this).addClass("active");

        if($(".question.active")?.hasClass("custom")) $("#customQuestion").prop("disabled", false);
        else $("#customQuestion").prop("disabled", true).val("");
    });

    //파일/질문 해석 로직
    $("#btnSubmit").on("click", function(){
        //해석 중
        if(loading) {
            alert("해석 중입니다. 잠시만 기다려주세요.");
            return;
        }

        //첨부 파일 확인
        let attachment = $("#analyzeFile")[0].files[0];
        let fileName = $(".fileName.active").text();
        if(!attachment && !fileName) {
            alert("해석할 파일을 선택해주세요.");
            return;
        }

        //선택한 질문 없음
        let question = $(".question.active").text();
        let customQuestion = $("#customQuestion").val();
        if(!question) {
            alert("질문을 선택해주세요.");
            return;
        } else if(question === "질문 직접 입력" && !customQuestion) {
            alert("질문을 입력해주세요.");
            return;
        }

        loading = true;
        $("#loadingText").show();

        let uploadYn = $("#uploadYn").is(":checked");

        let formData = new FormData();
        formData.append("uploadYn", uploadYn);

        if(fileName) formData.append("fileName", fileName);
        else formData.append("attachment", attachment);

        formData.append("question", question);
        formData.append("customQuestion", customQuestion);
        formData.append("csrfmiddlewaretoken", window.CSRF_TOKEN);

        $.ajax({
            url: "/summarize",
            type: "POST",
            data: formData,
            contentType: false,
            processData: false,
            success: function(data) {
                const converter = new showdown.Converter();
                $("#resultContainer").html(converter.makeHtml(data.result));

                updateFileList(data.file_list);

                loading = false;
                $("#loadingText").hide();
            },
            error: function(xhr, ajaxOptions, error) {
                console.log(xhr);
                alert('오류가 발생했습니다. 다시 시도하세요.');
                loading = false;
                $("#loadingText").hide();
            }
        })
    });

    //표시할 파일 크기 계산 로직
    const getFileSize = function(file) {
        let size = file.size;
        let scale = ["B", "KB", "MB", "GB", "TB"];
        let scaleIndex = 0;

        while(size > 1024 && scaleIndex < scale.length) {
            size = Math.round(size / 1024 * 100) / 100
            scaleIndex++;
        }

        return size + scale[scaleIndex];
    }

    const updateFileList = function(fileList) {
        const fileListHtml = (fileName, activeName) => {return `<li class="list-group-item list-group-item-secondary fileName ` + ((fileName === activeName) ? `active` : ``) + `">` + fileName + `</li>`}
        const emptyHtml = `<li class="list-group-item list-group-item-light">(클라우드에 저장된 파일이 없습니다)</li>`;
        const fileListContainer = $("#fileListContainer");
        const activeName = $(".fileName.active").text();

        fileListContainer.html("");
        if(fileList.length) {
            fileList.forEach(fileName => {
                fileListContainer.append(fileListHtml(fileName, activeName));
            });
        } else {
            fileListContainer.append(emptyHtml);
        }
    }
</script>
</html>